uvicorn==0.44.0
fastapi==0.135.3
pymongo==4.16.0
python-dotenv==1.2.2
certifi==2026.2.25
google-auth==2.49.2
requests==2.33.1
python-jose==3.5.0
pydantic[email]==2.12.5
openai==2.31.0
pymupdf==1.27.2.2
pytesseract==0.3.13
pdf2image==1.17.0
python-multipart==0.0.26
python-certifi-win32==1.6.1