<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/swagger-ui-dist/swagger-ui.css" />
    <style>
        /* Make PATCH yellow */
        .opblock-patch {
            background: #fefce8 !important; /* soft yellow */
            border-color: #facc15 !important;
        }

        .opblock-patch .opblock-summary-method {
            background: #ead708 !important;
            color: white !important;
        }
    </style>
</head>
<body>
    <div id="swagger-ui"></div>

    <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-bundle.js"></script>
    <script>
        SwaggerUIBundle({
            url: '/openapi.json',
            dom_id: '#swagger-ui',
        });
    </script>
</body>
</html>